[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==5.0.3"
django-ninja = "==1.1.0"
pydantic = "*"
django-cors-headers = "*"
pyjwt = "*"

[dev-packages]

[requires]
python_version = "3.11"
